body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  background-color: rgb(189, 182, 182);
  height: 250px;
  width: 150px;
  padding: 30px;
  text-align: center;
}

.default {
  background: #afa5a5;
  padding: 5px;
}

.dropDown {
  display: none;
  background: #ddd;
  margin-top: 10px;
  padding: 5px;
}

.dropDown.open {
  display: block;
}

.dropDown p {
  background: #eee;
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}
